{% load static %}
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="">
<title>Django!</title>
<head>
    
    {% include "include/css.html" %}

</head>
<body>
{% include "include/js.html"%}

<header>
    <h1><a href="/#">BASE.html</a></h1>
    <nav>
      <span><a href="{% url 'regist' %}">회원가입</a></span>
      <span><a href="{% url 'login' %}">로그인</a></span>
      <span><a href="{% url 'userlist' %}">회원수정</a></span>
    </nav>
  </header>
</div>

{% block regist %}
{% endblock %}

{% block login %}
{% endblock %}


{% block index %}
{% endblock %}

<h3>base.html(footer)</h3>

{% block javascript %}
{% endblock %}

</body>
</html>