{% extends 'base.html' %}
{% load static}



{% block index %}
<div class="container">
    <input id='csrf_token' value='{{ csrf_token }}' hidden>
    <h2 class='index'>index.html</h2>

    <p>
        contents: <strong>{{ contents }}</strong>
    </p>

    <p>
        sessionID: <strong>{{ contents.session_id }}</strong>
    </p>
    <p>
        test: <strong>{{ contents.test }}</strong>
    </p>
    <p>
        과목: <strong>{{ contents.subject }}</strong>
    </p>
    data.STATUS : {{data.status}} <br>

    data.MSG : {{data.msg}} <br>

    data : {{data}} <br>

    response_data : {{res_data}} <br>
    data : {{data}} <br>

    response_data : {{response_data.error}} <br>
    content.user : {{content.user}} <br>
    users : {{content.users}} <br>
    qpqp : {{content.qpqp}} <br>
    
</div>


{% endblock %}