{% extends 'base.html' %}
{% load static}



{% block content %}
<div class="container">
    <input id='csrf_token' value='{{ csrf_token }}' hidden>

    <h2 class='index'>index.html</h2>

    <label>id</label>
    <input type='text' id='inputId'><br>
    <label>pw</label>
    <input type='text' id='inputPw'><br>
    <label>name</label>
    <input type='text' id='inputName'><br>
    <label>email</label>
    <input type='text' id='inputEmail'><br>

    <button onclick="test()">test</button>
</div>


{% endblock content %}