{% extends "base.html" %}
{% block login %}

<div class="container">

    <h1>login.html</h1>

    <form method="POST" action="{% url 'login' %}" >
    <label>id</label>
    <input type='text' id='loginId' name=userid><br>
    <label>pw</label>
    <input type='text' id='loginPw' name=userpw><br>
    <input type="submit" value="sign up">

</form>
  

    <button onclick="login()">ajax로그인</button>
    

</div>
 <script>
    function login(){        
        var id = $('#loginId').val();
        var pw = $('#loginPw').val();        
        console.log('id=>',id)
        // var obj = {};
       // Create Ajax Call
       $.ajax({
            type: 'POST',
            url: '{% url 'userlogin' %}',
            data: {                
                'id': id,
                'pw': pw                
            },
            dataType: 'json',
            success: function (data) {
                console.log('로그인 성공!')
            },
            error: function (e) {
                console.log('로그인')
                console.log("ERROR : ", e);
            }
        });

    }
</script> 





{% endblock %}