{% extends "base.html" %}
{% block regist %}

<div class="container">

    <h1>regist.html</h1>
    <label>id</label>
    <input type='text' id='inputId'><br>
    <label>pw</label>
    <input type='text' id='inputPw'><br>
    <label>name</label>
    <input type='text' id='inputName'><br>
    <label>email</label>
    <input type='text' id='inputEmail'><br>

    <button onclick="regist()">회원가입</button>

    <p>
        sessionID: <strong>{{ session_id }}</strong>
    </p>
    <p>
        test: <strong>{{ test }}</strong>
    </p>

    

</div>

<script>
    function regist(){
        console.log('click!!')
        var id = $('#inputId').val();
        var pw = $('#inputPw').val();
        var name = $('#inputName').val();
        var email = $('#inputEmail').val();
        console.log('id=>',id)
        // var obj = {};
       // Create Ajax Call
       $.ajax({
            type: 'POST',
            url: '{% url 'user_insert' %}',
            data: {                
                'id': id,
                'pw': pw,
                'name': name,
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                console.log('success')
            },
            error: function (e) {
                console.log("ERROR : ", e);
                console.log('fail')
            }
        });

    }
</script>




{% endblock %}