{% extends "base.html" %}
{% block login %}

<div class="container">

    <h1>UserList</h1>

</div>

<table class="type11">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>수정/삭제</th>
        </tr>
    </thead>
    <tbody>
        {% for userlist in userlists %}
        <tr>
            <td>{{ userlist.user_id }}</td>
            <td>{{ userlist.name }}</td>
            <td>{{ userlist.email }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="/#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/#" class="btn btn-primary">Add New Record</a></center>
</body>



{% endblock %}