{% extends "base.html" %}
{% block login %}

<div class="container">

    <h1>UserList</h1>

</div>
<h1>git test 1</h1>
    <h1>git test 2</h1>
    <h1>git test 3</h1>
    <h1>git test 4</h1>
    <h1>git test 5</h1>

<table class="type11">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>수정/삭제</th>
        </tr>
    </thead>
    <tbody>
        {% for userlist in userlists %}
        <tr>
            <td>
                <a href="{% url 'userdetail' userlist.id %">{{ userlist.user_id }}</a>
            </td> 
            <td>{{ userlist.name }}</td>
            <td>{{ userlist.email }}</td>            
            <td>
                <span class="glyphicon glyphicon-pencil">Edit</span></a>
                <a href="#">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<br>
<center><a href="/#" class="btn btn-primary">Add New Record</a></center>




{% endblock %}