<style>
    .index{
    font-size: 30px;
    background-color: rgb(255, 51, 0);
    color: rgb(249, 252, 252);
}
header {
  height: 50px;
  padding: 1rem;
  color: rgb(83, 106, 235);
  background: rgba(237, 44, 255, 0.158);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

a { text-decoration: none; color: rgb(76, 240, 158); }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }





</style>